@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

[x-cloak] { display: none !important; }

.letterboxd-embed-tc-more a {
  color: #486172 !important;
}